.login_section .container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(229, 0, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 600px;
}

.login_section .login_text {
    font-size: 24px !important;
    margin-bottom: 20px !important;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.login_section .long_text {
    margin-bottom: 20px !important;
    color: #666;
}

.login_section_2 form {
    margin-top: 30px;
}

.login_section_2 .form-control {
    margin-bottom: 20px;
    border-radius: 8px;
}

.login_section_2 .button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
}


.login_section_2 .button-container button[type="submit"] {
    width: 24%; 
    padding: 10px;
    border-radius: 20px;
    float: right;
}

.login_section_2 .button-container .btn-secondary {
    width: 24%;
    padding: 10px;
    border-radius: 20px;
    float: left;
}